body {
    padding-bottom: 30px; /* Dodatkowy padding na dole strony, aby stopka nie zasłaniała zawartości */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    padding: 10px 0;
}
.navbar {
    margin-bottom: -40px;
}