<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments::head}"></head>
<body class="overflow-y-scroll">
<div class="container">
    <header th:replace="~{/fragments::header}"></header>
    <div class="banner">
        <div>
            <table class="table table-bordered table-striped mt-3" style="font-size: larger">
                <thead class="table-dark">
                <th style="text-align: center"><span>You can add any number of tools and actions for tools</span></th>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6 pb-5 mb-5">
            <p class="h4 mb-4" style="color: deepskyblue">Add new Tool</p>
            <form action="/create" method="post">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control mb-4 w-30" placeholder="Name" id="name" name="name" required>
                <label for="location" class="form-label">Location:</label>
                <input type="text" class="form-control mb-4 w-30" placeholder="Location" id="location" name="location" required>
                <label for="size" class="form-label">Size:</label>
                <input type="number" class="form-control mb-4 w-30" placeholder="Size" id="size" name="size" step="any"
                       min="0"
                       required>
                <label for="unit" class="form-label">Unit:</label>
                <input type="text" class="form-control mb-4 w-30" placeholder="Unit" id="unit" name="unit" required>
                <div id="actionInputs" class="mb-3">
                    <label for="actions" class="form-label">Actions:</label>
                    <input type="text" class="form-control mb-4 w-30" id="actions" name="actions"
                           placeholder="Hand tool operations" required>
                </div>
                <div class="d-flex">
                    <button type="button" class="btn btn-outline-dark me-5" onclick="addInput()">Add Action</button>
                    <button type="submit" class="btn btn-dark">Save Tool</button>
                </div>
            </form>
        </div>
        <script>
            function addInput() {
                var input = document.createElement('input');
                input.type = 'text';
                input.name = 'actions';
                input.placeholder = 'Hand tool operations';
                input.className = 'form-control mb-4 w-40';
                document.getElementById('actionInputs').appendChild(input);
            }
        </script>
        <div class="col-6">
            <img src="/img/img1.png" alt="Logo" class="img-fluid float-end">
        </div>
    </div>
</div>
<footer th:replace="~{/fragments::footer}"></footer>
</body>
</html>