<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments::head}"></head>
<body class="overflow-y-scroll">
<div class="container">
    <header th:replace="~{/fragments::header}"></header>
    <div class="banner">
        <div>
            <img src="/img/logo2.png" alt="Banner Image" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped" style="font-size: larger">
                <thead class="table-dark">
                <th style="text-align: center"><span>Welcome. Nice to see you on the website.</span>
                </th>
            </table>
            <div><img src="/img/toolbox.png"></div>
        </div>
    </div>
</div>
<footer th:replace="~{/fragments::footer}"></footer>
</body>
</html>