<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tool List</title>
</head>
<body>
<h1>Tool List</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="tool : ${tools}">
    <td th:text="${tool.name}"></td>
    <td th:text="${tool.toolSize.size} + ' ' + ${tool.toolSize.unit}"></td>
    <td>
      <ul>
        <li th:each="action : ${tool.actions}" th:text="${action}"></li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
