<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tool Box</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="overflow-y-scroll">
<div class="container text-center ">
    <nav class="navbar navbar-expand bg-body-tertiary">
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand" href="/">Tool Box</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="create">Create</a>
                    <a class="nav-link" href="read">Read</a>
                    <a class="nav-link" href="update">Update</a>
                    <a class="nav-link" href="delete">Delete</a>
                    <a class="nav-link" href="search">Search</a>
                </div>
            </div>
        </div>
    </nav>
    <h1>Tool Box</h1>
    <img src="/img/logo.jpg" style="max-width: 300px; margin-bottom: 30px">
    <div class="row">
        <div class="col">
            <h3>Add tool</h3>
            <form action="/update" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name"><br><br>

                <label for="size">Size:</label>
                <input type="number" id="size" name="size" step="any"><br><br>

                <label for="unit">Unit:</label>
                <input type="text" id="unit" name="unit"><br><br>

                <label for="actions">Actions:</label>
                <div id="actionInputs">
                    <input type="text" name="actions" placeholder="Enter action"><br>
                </div>
                <button type="button" class="btn btn-warning" onclick="addInput()">Add Action</button>
                </br></br>

                <button type="submit" class="btn btn-success mb-5">Add Tool</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>