<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments::head}"></head>
<body class="overflow-y-scroll">
<div class="container">
    <header>
        <nav class="navbar navbar-expand bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Tool Box</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/showFormForAdd}">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/read}">Read</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/KozlowskiKamil">Contact</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search" th:action="@{/findTool}" method="post">
                        <input name="name" class="form-control me-2" type="search" placeholder="Find tool...">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <br>
    </header>
    <div class="banner">
        <div>
            <img src="/img/logo2.png" alt="Banner Image" class="img-fluid">
            <table class="table table-bordered table-striped" style="font-size: larger">
                <thead class="table-dark">
                <th style="text-align: center"><span>You can edit any of tools and actions</span></th>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6 pb-5 mb-5">
            <p class="h4 mb-4" style="color: deepskyblue">Edit Tool</p>
            <form th:action="@{/update/{id}(id=*{id})}" method="post" th:object="${toolUpdateDTO}">
                <input th:field="*{img}" type="text" id="img" name="img" hidden="hidden">
                <label for="name" class="form-label">Name:</label>
                <input th:field="*{name}" type="text" class="form-control mb-4 w-30" placeholder="Name" id="name"
                       name="name" required>
                <label for="size" class="form-label">Size:</label>
                <input th:field="*{size}" type="number" class="form-control mb-4 w-30" placeholder="Size" id="size"
                       name="size" step="any" min="0" required>
                <label for="unit" class="form-label">Unit:</label>
                <input th:field="*{unit}" type="text" class="form-control mb-4 w-30" placeholder="Unit" id="unit"
                       name="unit" required>
                <div id="actionInputs" class="mb-3">
                    <label for="actions" class="form-label">Actions:</label>
                    <input th:field="*{actions}" type="text" class="form-control mb-4 w-30" id="actions" name="actions"
                           placeholder="Hand tool operations" required>
                </div>
                <button type="button" class="btn btn-warning mb-3" onclick="addInput()">Add Action</button>
                <br>
                <button type="submit" class="btn btn-info col-2 mb-5 pb-2">Save Tool</button>
            </form>
        </div>
        <script>
            function addInput() {
                var input = document.createElement('input');
                input.type = 'text';
                input.name = 'actions';
                input.placeholder = 'Hand tool operations';
                input.className = 'form-control mb-4 w-40';
                document.getElementById('actionInputs').appendChild(input);
            }
        </script>
        <div class="col-6">
            <img src="/img/img1.png" alt="Logo" class="img-fluid float-end">
        </div>
    </div>
</div>
<footer th:replace="~{/fragments::footer}"></footer>
</body>
</html>